<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.njk" %}
</head>
<body>
    <aside>
        {% include "left.njk" %}
    </aside>
    <main>
        {% include "top-nav.njk" %}
            
        {{ content | safe }}
        <div id="footer-small">
            {% include "footer.njk" %}
        </div>
    </main>

    <script src="/js/medium-zoom.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/themeswitcher.js"></script>

</body>
</html>