<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.njk" %}
</head>
<body>
    {% include "spinner.njk" %}
    <div id="main-content">
        <header> 
            {% include "navbar.njk" %}
            
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            {% include "footer.njk" %}
        </footer>
    </div>

    <script type="text/javascript" src="/js/spinner.js"></script>
</body>
</html>