<div class="timeline">
    <b>Capabilities/Skills</b>
    <div class="timeline-item">
        <div class="work">
            <span class="company"> Experience Design</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">Design Direction</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">Interface Design</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">Design Systems</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">Prototyping</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">Design Strategy</span>
        </div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <span class="company">User Research</span>
        </div>
    </div>
</div>