<div class="companies-wrapper">

### Other great companies I've gotten to work with
    <div class="company-list">
        <img src="/assets/logos/anvl.png" class="logo logo-grey" onclick="window.open('https://anvl.com/')" />
        <img src="/assets/logos/Sophos.png" class="logo logo-grey" onclick="window.open('https://www.sophos.com/en-us/')" />
        <img src="/assets/logos/Angi.svg" class="logo logo-grey" onclick="window.open('https://www.angi.com/')" />
        <img src="/assets/logos/Availity.png" class="logo logo-grey" onclick="window.open('https://www.availity.com/')"/>
    </div>
    <div class="company-list">
        <img src="/assets/logos/Mathtrack.png" class="logo logo-grey" onclick="window.open('https://www.mathtrack.co/')" />
        <img src="/assets/logos/Carebridge.png" class="logo logo-grey" onclick="window.open('https://www.carebridgehealth.com/')" />
        <img src="/assets/logos/sierra.png" class="logo logo-grey" onclick="window.open('https://www.sierrainteractive.com/')"/>
        <img src="/assets/logos/Satisfi.svg" class="logo logo-grey" onclick="window.open('https://www.satisfilabs.com/')"/>
    </div>
</div>