Companies I've worked with

<div class="company-list">
    <img src="/assets/logos/VMS.png" class="logo logo-grey" />
    <img src="/assets/logos/Sophos.png" class="logo logo-grey" />
    <img src="/assets/logos/Angi.png" class="logo logo-grey" />
    <img src="/assets/logos/Availity.png" class="logo logo-grey" />
</div>
<div class="company-list">
    <img src="/assets/logos/Mathtrack.png" class="logo logo-grey" />
    <img src="/assets/logos/Carebridge.png" class="logo logo-grey" />
    <img src="/assets/logos/barometer.png" class="logo logo-grey" />
    <img src="/assets/logos/Osmind.png" class="logo logo-grey" />
</div>