<div class="companies-wrapper">
    <h3>Other great teams I've partnered with</h3> 
    <div class="marquee-wrapper">
        <div class="marquee">
            <div id="marqueeLeft-content" class="marquee-content">
                <div class="marquee-item">
                    <img alt="Anvl company logo" src="/assets/logos/anvl.png" class=" logo-grey" onclick="window.open('https://anvl.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Sophos company logo" src="/assets/logos/sophos.png" class="logo logo-grey" onclick="window.open('https://www.sophos.com/en-us/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Angi company logo" src="/assets/logos/angi.svg" class="logo logo-grey" onclick="window.open('https://www.angi.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Availity company logo" src="/assets/logos/availity.png" class="logo logo-grey" onclick="window.open('https://www.availity.com/')"/>
                </div>
                <div class="marquee-item">
                    <img alt="Carebridge company logo" src="/assets/logos/carebridge.png" class="logo logo-grey" onclick="window.open('https://www.carebridgehealth.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Sierra Interactive company logo" src="/assets/logos/sierra.png" class="logo logo-grey" onclick="window.open('https://www.sierrainteractive.com/')"/>
                </div>
                <div class="marquee-item">
                    <img alt="Satisfi Labs company logo"  src="/assets/logos/satisfi.svg" class="logo logo-grey" onclick="window.open('https://www.satisfilabs.com/')"/>
                </div>
                <!-- Dupes -->
                <div class="marquee-item">
                    <img alt="Anvl company logo" src="/assets/logos/anvl.png" class=" logo-grey" onclick="window.open('https://anvl.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Sophos company logo" src="/assets/logos/sophos.png" class="logo logo-grey" onclick="window.open('https://www.sophos.com/en-us/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Angi company logo" src="/assets/logos/angi.svg" class="logo logo-grey" onclick="window.open('https://www.angi.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Availity company logo" src="/assets/logos/availity.png" class="logo logo-grey" onclick="window.open('https://www.availity.com/')"/>
                </div>
                <div class="marquee-item">
                    <img alt="Carebridge company logo" src="/assets/logos/carebridge.png" class="logo logo-grey" onclick="window.open('https://www.carebridgehealth.com/')" />
                </div>
                <div class="marquee-item">
                    <img alt="Sierra Interactive company logo" src="/assets/logos/sierra.png" class="logo logo-grey" onclick="window.open('https://www.sierrainteractive.com/')"/>
                </div>
                <div class="marquee-item">
                    <img alt="Satisfi Labs company logo" src="/assets/logos/satisfi.svg" class="logo logo-grey" onclick="window.open('https://www.satisfilabs.com/')"/>
                </div>
            </div>
        </div>
    </div>
</div>
