<h3>Contact me for more information</h3>

While I'd love to display a lot more about each of these projects, unfortunately I can't do so publicly. Please reach out if you're interested in learning more about my process, or specifics about any of the projects or companies I've worked with.
<br /><br />
<div>
  <form accept-charset="UTF-8" action="https://www.formbackend.com/f/8d84ad85743c1ce0" method="POST">
    <div class="fieldset">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div class="fieldset">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="fieldset">
      <label for="message">Message</label>
      <textarea id="email" name="email" required></textarea>
    </div>

    <button type="submit">Get in Touch</button>
  </form>
</div>