<h3>Contact me for more information</h3>

Interested in learning more about my process? Reach out and lets chat!
<br /><br />
<div>
  <form accept-charset="UTF-8" action="https://www.formbackend.com/f/8d84ad85743c1ce0" method="POST">
    <div class="fieldset">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div class="fieldset">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>

<!--     <div class="fieldset">
      <label for="message">Message</label>
      <textarea id="email" name="email" required></textarea>
    </div>
 -->
    <button type="submit">Get in Touch</button>
  </form>
</div>