<div class="footer-container">
    <p>© {% year %} Derek Onay. All rights reserved. </p>
    <p>Built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, deployed on <a href="https://www.netlify.com/" target="_blank">Netlify</a></p>
    <div class="social_icons">
        <a
            href="https://twitter.com/derekonay"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-twitter"></i>
        </a>
        
        <a
            href="https://www.linkedin.com/in/derek-onay/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>

    {% include "contact.njk" %}
</div>