<footer class="footer-container">
    <p>
    Built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> & <a href="https://www.netlify.com/" target="_blank">Netlify</a> 
    </p> 
    <p>
    Want to know how? <a href="https://github.com/Riggd/portfolio" target="_blank">GitHub</a>
    </p>
    <p>© {% year %} Derek Onay. All rights reserved.</p>
</footer>