<footer class="footer-container">
<!-- 
TODO: Add content
Mission statement (needs rewritten) "Design is a collaborative process, so a hearty thank you to all my teammates, coworkers and friends who influenced, participated or help in creating these projects."
Carbon Footprint Widget
/now page link
 -->
    <p>© {% year %} Derek Onay</p>
    <div class="choose-adventure">
        <a href="mailto:derek.onay@gmail.com">Email &#8599;</a>
        <a target="_blank" href="https://twitter.com/derekonay">Twitter &#8599;</a>
        <a target="_blank" href="https://www.linkedin.com/in/derek-onay/">LinkedIn &#8599;</a>
    </div>
</footer>