<div class="hero-left">
    <img src="/assets/personal-photo.jpg" alt="Perosnal Photo">
</div>
<div class="hero-right">

# Hey there, I'm Derek
### Product designer, researcher, and tinkerer based in Indianapolis, IN. I enjoy designing delightful and accessible experiences on the internet. 
### Previously, I was a Product Designer & Product Manager at <a href="https://innovatemap.com" target="_blank">Innovatemap</a>, helping pre-seed through Series B founders with product strategy and design to bring their visions to life.  
### Prior to that, I was a Lead Designer at <a href="https://carebridgehealth.com/" target="_blank">CareBridge</a>, responsible for delivering mobile apps for home health services.

    <div class="" style="text-decoration:none;">
        <a
            href="https://twitter.com/derekonay"
            aria-label="Twitter"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/derek-onay/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>