<header>
    <nav class="nav">
        <!-- Logo -->
        <div class="nav-top">
            <a class="brand" href="/" title="{{ home }}">
                <h2>derek onay</h2>
            </a>
        </div>
        <!-- Pages -->
        <div class="nav-items">
            <a class="nav-item" href="/about">the human.</a>
            <a class="nav-item" href="/#projects">the work.</a>
            <a class="nav-item" href="/process">the process.</a>
        </div>
        <!-- Footer -->
        {% include "footer.njk" %}
    </nav>
</header>
