<header>
    <nav class="nav">
        <!-- Logo -->
        <div class="nav-top">
            <a class="logo" href="/" title="{{ home }}">
                <h2>derek onay</h2>
            </a>
        </div>
        <!-- Pages -->
        <div class="nav-items">
            <!-- <a class="nav-item {{ 'active' if '/about' in page.url and not '/projects' in page.url and not '/process' in page.url }}" href="/about">about</a> -->
            <!-- <a class="nav-item {{ 'active' if '/projects' in page.url }}" href="/projects">work</a> -->
            <a class="nav-item {{ 'active' if '/about' in page.url }}" href="/about">about</a>
            <a class="nav-item {{ 'active' if '/process' in page.url }}" href="/process">process</a>
            <!-- <a class="nav-item" href="/">the chaos.</a> -->
        </div>
        <!-- Footer -->
        {% include "footer.njk" %}
    </nav>
</header>
