<header>
    <nav class="nav">
        <div class="content">
            <!-- Logo -->
            <div class="nav-left">
                <a class="brand" href="/" title="{{ home }}">
                    <img src="" alt="LOGO" width="120" height="120">
                    {{ data.title[lang] or data.title[data.languages[0]] }}
                </a>
            </div>
            <div class="nav-right">
                <!-- Pages -->
                <div class="tabs">
                    <a href="/">Home</a>
                    <a href="">Process</a>
                    <a href="/resume">Resume</a>
                    
                    <!-- Dark / light mode switcher -->
                    <div id="nightModeWrapper">
                        <button id="nightModeButton" class="button icon-only" title="Color schema switch"
                                aria-label="Color schema switch">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24"
                                 fill="var(--font-color)">
                                <path
                                      d="M10 18c.112 0 .112-5.333 0-16a8 8 0 1 0 0 16zm0 2C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
