<header>
    <nav class="nav">
        <!-- Logo -->
        <div class="nav-left">
            <a class="brand" href="/" title="{{ home }}">
                <h2>derek onay</h2>
            </a>
        </div>
        <div class="nav-right">
            <!-- Pages -->
            <div class="nav-items">
                <a class="nav-item" href="/#projects">Work</a>
                <a class="nav-item" href="/process">Process</a>
                <a class="nav-item" href="/about">About</a>
            </div>
        </div>
    </nav>
</header>
