---
layout: base.njk
section: project
---
{% set previousPost = collections.projects | reverse | getPreviousCollectionItem %}
{% set nextPost = collections.projects | reverse | getNextCollectionItem %}

<div class="project-pageheader">
    <a href="/#projects">← All projects</a>
    <div class="project-title">
        <div class="top">
            <span>{{ title }}</span>
            <span>{{ duration }}</span>    
        </div>
        <h1>{{ description }}</h1>
    </div>
</div>

<div id="{{ client }}" class="project-photo">
    <img src="/assets/projects/{{ client }}/{{ image }}" data-zoomable/>
</div>

<div class="project-info">  
    <div class="roles-teams">
        <div id="role">
            <h4>my role.</h4>
            <p>{{ roles }}</p>
        </div>
        <div id="responsibility">
            <h4>deliverables.</h4>
            {% for tech in responsibilities %}
            <p>{{ tech }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!--  Style and write in Hypothesis in the template files    
<div class="hypothesis">
<span>IF we design/change [this], then we expect [this] to be the outcome</span>
</div> -->
<!-- <div class="wins-issues">
    <div class="impact">
        <h2>what we achieved.</h2>
        {% for item in wins %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    <div class="problems">
        <h2>what we learned.</h2>
        {% for item in issues %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
</div> -->

<div class="project-details">
{{ layoutContent | safe }}
</div>
<hr style="width:75%">
<div class="project-footer">
    {% if previousPost %}
    <a class="prev-next" href="{{ previousPost.url }}">
        <span class="label">&#8592; Previous</span>
        <span class="project-name">{{ previousPost.data.title }}</span>
    </a>
    {% endif %}
    {% if nextPost %}
    <a class="prev-next" href="{{ nextPost.url }}">
        <span class="label">Next &#8594;</span>
        <span class="project-name">{{ nextPost.data.title }}</span>
    </a>
    {% else %}
    <span> </span>
    {% endif %}
</div>