---
layout: base.njk
section: project
---
<div class="project-pageheader">
    <a href="/">← Back to Home</a>
    <h1> {{ title }} </h1>
    <img class="project-header" src="/assets/projects/{{ client }}/{{client}}.png" />
    <div class="roles-teams">
        <div id="role">
            <h4>Role</h4>
            {{ roles }}
        </div>
        <div id="duration">
            <h4>Duration</h4>
            {{ duration }}
        </div>
        <div id="teams">
            <h4>Team</h4> 
            <ul>
                {% for member in team %}
                <li> {{ member }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="project-details">
{{ layoutContent | safe }}
</div>

