---
layout: base.njk
section: project
---

<div class="project-pageheader">
    <a href="/projects">← back to the work.</a>
    <div class="project-title">
        <h1>{{ title }}</h1>
        <span>{{ duration }}</span>
    </div>
</div>

<div class="project-info">  
    <div class="project-photo">
        <div class="device-frame">
            <img src="/assets/projects/{{ client }}/{{ image }}" />
        </div>
    </div>
    <div class="roles-teams">
        <div id="role">
            <h3>my role.</h3>
            {{ roles }}
        </div>
        <div id="responsibility">
            <h3>responsibilities.</h3>
            {% for tech in responsibilities %}
            <p>{{ tech }}</p>
            {% endfor %}
        </div>
        <div id="team">
            <h3>team.</h3> 
            {% for member in team %}
            <p>{{ member }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<!--  Style and write in Hypothesis in the template files    
<div class="hypothesis">
<span>IF we design/change [this], then we expect [this] to be the outcome</span>
</div> -->
<div class="wins-issues">
    <div class="impact">
        <h2>what we achieved.</h2>
        {% for item in wins %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    <div class="problems">
        <h2>what we learned.</h2>
        {% for item in issues %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
</div>

<div class="project-details">
{{ layoutContent | safe }}
</div>

