<div class="projects-container">

# Featured Projects
## A few cool things I've gotten to help build in my career!

    <div class="projects-grid">
        {%- for project in collections.projects -%}
            <div class="project-card" onclick="location.href='{{project.url}}'">
                <div class="content">
                    <div class="project-header">
                        <div class="project-image">
                            <img src="/assets/logos/{{ project.data.logo }}" alt="{{ project.data.title }} logo">
                        </div>
                    </div>
                    <div class="tag-list">
                        {%- for role in project.data.roles -%}                     
                            <span class="project-tag">{{ role }}</span>
                        {%- endfor -%}
                    </div>
                    <p>{{project.data.description}}</p>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>