<div class="timeline">
    <div class="top">
        <b>Roles I've held</b>
        <a target="_blank" href="/assets/resume-2024.pdf" download="DerekOnay-Resume.pdf">Resume &#8599;</a>
    </div>
    <div class="timeline-item">
        <div class="work">
            <div class="title">Sr Product Designer<span class="company"> at eFuse</span></div>
        </div>
        <div class="time">2023</div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <div class="title">Sr Product Designer<!--& Product Manager--><span class="company"> at Innovatemap</span></div>
        </div>
        <div class="time">2022-2023</div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <div class="title">Lead Designer<!--& Product Manager--><span class="company"> at Carebridge</span></div>      
        </div>
        <div class="time">2021-2022</div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <div class="title">Product Designer<span class="company"> at Angie's List</span></div>
        </div>
        <div class="time">2019-2021</div>
    </div>
    <div class="timeline-item">
        <div class="work">
            <div class="title">UX Designer</div>
            <span class="company">at Availity</span>
        </div>
        <div class="time">2015-2019</div>
    </div>
</div>