/* 
===========
UTILITIES
===========
*/

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--space-sm);
    max-width: var(--container-max-width);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid-auto-fit {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.gap-sm {
    gap: var(--space-sm);
}

.gap-md {
    gap: var(--space-md);
}

.gap-lg {
    gap: var(--space-lg);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: auto;
    padding-inline: var(--space-md);
    width: 100%;
    max-width: var(--container-max-width);
}

header {
    display: flex;
    /* flex: 0 1 auto; */
    /* border-right: 1px solid var(--nav-border); */
}

aside {
    display: flex;
    /* flex: min-content; */
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    top: 0;
    min-height: 100vh;
}

#top-nav,
#footer-small {
    display: none;
}

/* 
=================
Featured Grid
=================
*/

#featured-project .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.parent>* {
    border-radius: 12px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 4;
}

.div2 {
    grid-area: 1 / 4 / 3 / 6;
}

.div3 {
    grid-area: 3 / 1 / 5 / 3;
}

.div4 {
    grid-area: 3 / 3 / 4 / 6;
}

.div5 {
    grid-area: 4 / 3 / 5 / 6;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer-container p {
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    width: max-content
}

.footer-container a {
    font-size: .875rem;
}