/* Font Family setting */

@font-face {
    font-family: 'Subjectivity Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Subjectivity Regular'), url('/assets/fonts/Subjectivity-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Subjectivity Regular Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Subjectivity Regular Slanted'), url('/assets/fonts/Subjectivity-RegularSlanted.woff') format('woff');
}

@font-face {
    font-family: 'Subjectivity Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Subjectivity Thin'), url('/assets/fonts/Subjectivity-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Subjectivity Thin Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Subjectivity Thin Slanted'), url('/assets/fonts/Subjectivity-ThinSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Light';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Light'), url('/assets/fonts/Subjectivity-Light.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Light Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Light Slanted'), url('/assets/fonts/Subjectivity-LightSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Medium';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Medium'), url('/assets/fonts/Subjectivity-Medium.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Medium Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Medium Slanted'), url('Subjectivity-MediumSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Bold';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Bold'), url('/assets/fonts/Subjectivity-Bold.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Bold Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Bold Slanted'), url('/assets/fonts/Subjectivity-BoldSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Extra Bold'), url('/assets/fonts/Subjectivity-ExtraBold.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Extra Bold Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Extra Bold Slanted'), url('/assets/fonts/Subjectivity-ExtraBoldSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Black';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Black'), url('/assets/fonts/Subjectivity-Black.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Black Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Black Slanted'), url('/assets/fonts/Subjectivity-BlackSlanted.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Super';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Super'), url('/assets/fonts/Subjectivity-Super.woff') format('woff');
}

@font-face {
font-family: 'Subjectivity Super Slanted';
font-style: normal;
font-weight: normal;
src: local('Subjectivity Super Slanted'), url('/assets/fonts/Subjectivity-SuperSlanted.woff') format('woff');
}


body {
    font-family: "Fira Sans", sans-serif;
    /* Try Editorial new & black & white site with color pop (nameless.today)*/
    background-color: rba(0,0,0,.25);
    color: #fff;
    background: linear-gradient(65deg, #0F2027, #203A43, #2C5364, #203A43, #0F2027, #2C5364);
    background-size: 400% 400%;
    animation: animate 20s ease infinite;
    min-height: 100vh;
    margin: 0;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#main-content {
    /* May need to set this on the wrapper */
    margin: 0 auto;
    max-width: 960px;
}

@media screen and (max-width: 800px) {
    #main-content {
        display: flex;
        flex-direction: column;
        margin: 0 1.5rem;
    }

    .hero h1 {
        font-size: 3rem !important;
    }
}

h2, h3, h4, h5, h6 {
    font-family: 'Subjectivity Regular', sans-serif;
}

p {
    font-weight: 300;
    line-height: 1.25rem;
}

strong {
    font-weight: 600;
}

img + em {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

hr {
    border-color: #92B4C2;
    color: #92B4C2;
    background-color: #92B4C2;
}

section {
    margin: 6rem 0;
}

/* Navbar */
.nav {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right .nav-item {
    padding: .25rem .5rem;
    text-decoration: none;
}

.nav-right .nav-item:hover {
    text-decoration: underline;
    background: #EFB37D;
    color:#333;
    border-radius: .25rem;
}

.nav-left a {
    text-decoration: none;
}

.nav-left h2 {
    font-family: "Subjectivity Medium", sans-serif;
}

.home-title {
    margin-bottom: 0;
}
.home-subtitle {
    font-weight: 300;
    color: rgba(255,255,255,.6);
    margin-bottom: 0;
}

/* .name-gradient {
    -webkit-text-fill-color: transparent;
    color: transparent;
    background: linear-gradient(130deg, #327AAD, #C23CC5);
    -webkit-background-clip: text;
    background-clip: text;
} */

/* Hero Styles */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}

.hero h1 {
    font-family: "Subjectivity Black", sans-serif;
    margin: 0;
    font-size: 6rem;
}
.hero h2 {
    font-weight: 300;
}


.testing-font {
    font-family: 'Outward Block', sans-serif;
    font-size: 3rem;
}

/* About Styles */

.hero-section {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    outline: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
    margin: 5rem 0;
}

.hero-right .profile-thumb img {
    display: none;
}

.hero-right h2, h3 {
    font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 800px) {
    .hero-section {
        flex-direction: column;
        border-radius: 16px;
        box-shadow: 0;
        backdrop-filter: blur(10.7px);
        -webkit-backdrop-filter: blur(10.7px);
        outline: 0px;
        margin: 0px;
    }
    .hero-left img {
        display: none;
    }
    .hero-right .profile-thumb img {
        display: block;
        width: 10rem;
    }
    .hero-right {
        /* Pull all padding into a parent container */
        padding: 1.5rem 0px !important;
    }
    .hero-right h1 {
        font-size: 2.5rem;
    }
}


.hero-section a {
    font-weight: 400;
    text-decoration: underline;
}

.hero-section h1 {
    font-weight: 900;
}
.hero-section h3 {
    font-weight: 100;
}

.hero-left {
    margin: 0px;
    padding: 0px;
}

.hero-left img {
    width: 22rem;
    height: 100%;
}

.hero-right {
    padding: 32px;
}

/* Process Page */

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: .5rem;
    margin-bottom: 1rem;
}
.external-button {
    padding: .5rem;
    color: #333;
    background: #92B4C2;
    border-radius: .5rem;
    text-decoration: none;
    margin-top: 2rem;
}

.external-button:hover {
    text-decoration: underline;
}

#process img {
    width: 100%;
}

#process p {
    font-size: 1.125rem;
    line-height: 1.5rem;
}


/* Barometer */

#barometer img {
    width: 100%;
    border-radius: 16px;
}

/* Projects List */
.roles-teams {
    display: flex;
    flex-direction: column;
    flex-basis: 30rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.roles-teams h3 {
    margin: .5rem 0;
}

.roles-teams hr {
    width: 100%;
    margin: 1.5rem 0;
}

.project-photo .device-frame {
    width: 350px;
    border-radius: 1rem;
    outline: 1px solid rgba(0, 0, 0, 0.12);
    background: #121212;
    box-shadow: inset 0 0 12px #8d8d86, inset 0 7px 0 3px #fdfdfc, inset 0 -6px 0 3px #fdfdfc;
    padding: 1rem .5rem .75rem;
}

.device-frame img {
    width: 100%;
    border-radius: .75rem;
}

.project-pageheader li {
    font-size: 0.85rem;
}
.project-pageheader h1 {
    font-size: 5rem;
    margin: 1.5rem 0;
}

.project-info {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .project-info {
        flex-direction: column-reverse;
    }
    .roles-teams {
        flex-basis:0%;
        margin: 2rem 0;
    }
    .project-photo .device-frame {
        width: 50%;
    }
    .project-pageheader h1 {
        font-size: 3rem;
    }
}

#Wellkind:hover {
    background-image: linear-gradient(rgba(240,250,251,0.2), rgba(47,127,137,0.4)), url("/assets/projects/wellkind/test.png");
    background-size: cover;
}

#Barometer:hover {
    background-image: linear-gradient(rgba(230,113,169,0.3) -4.16%, rgba(152,115,203,0.2) 49.59%), url("/assets/projects/barometer/stripes.png");
}

#eFuse:hover {
    background: linear-gradient(rgba(255,255,255,0.4) -4.16%, rgba(194,220,254,.3) 49.59%);
}

.project-details p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.project-details img {
    width: 100%;
    border-radius: .5rem;
}

.project-details blockquote p {
    margin: 2rem 0 2rem 4rem;
    color: #EFB37D;
    font-weight: 600;
    font-style: italic;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0;
}

@media screen and (max-width: 800px) {

    .project-details blockquote p {
        margin-left: 1rem !important;
    }
    .image-container img:nth-child(2) {
        display: none;
        
    }
    .image-container img {
        max-width: 100%;
        height: 375px; 
    }

}

.image-container img {
    border-radius: 8px;
}

.roles-teams p {
    font-size: 1rem;
    margin: 0 0 0.25rem;
}

.projects-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

@media screen and (max-width: 800px) {
    .projects-grid {
        flex-wrap: wrap;
    }
}

.project-card {
    flex-basis: 48%;
    margin: 8px;
    padding: 1.5rem;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);

}

.project-card p {
    margin-bottom: 0;
}

.project-image {
    display: flex;
}

.project-image img {
    border-radius: 0.5rem;
    height: 64px;
    margin-bottom: 0.5rem;
}

.project-card:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.project-card img {
    transition: transform .5s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.05);
}

@media screen  and (max-width: 800px) {    
    .project-card {
        flex-basis: 100%;
        margin: 24px 0;
    }
}

.project-card .content {
    padding: 24px;
}

.project-card .tag-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen  and (max-width: 600px) {    

    .project-tag {
        margin-bottom: .5rem;
    }
}

.project-tag {
    border-radius: 24px;
    background: #92B4C2;
    padding: .25rem .5rem;
    color:#25414D;
    margin: 0 .5rem .5rem 0;
}

.project-tag:last-child {
    margin-right: 0px;
}

/* Company List */
.companies-wrapper {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 48px;
}

.company-list img {
    align-self: center;
    flex: 0 0 auto;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .company-list img {
        width: calc(100%/6);
        height: calc(100%/6);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .company-list img {
        width: calc(100%/4);
        height: calc(100%/4);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .company-list img {
        width: calc(100%/3);
        height: calc(100%/3);
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .company-list img {
        width: calc(100%/2);
        height: calc(100%/2);
    }
}

@media screen  and (max-width: 320px) {
    .company-list img {
        width: 100%;
        height: 100%;
    }
}

.logo-grey {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo-grey:hover {
    -webkit-filter: none !important;
    filter: none !important;
}

/* Projects Page */
.old-new-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.old-new-container img {
    width: 50%;
}

.old-new-container img:first-child {
    width: 80%;
}


a { 
    color: white;
    font-weight: 400;
}
a:hover {
    color: #EFB37D;
    font-weight: 400;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.footer-container p {
    margin: 0;
}
.footer-container p:first-child {
    margin-bottom: 0.5rem;
}


footer a {
    color: white;
    transition: 250ms ease-in-out;
    box-shadow: inset 0px -4px 0 #EFB37D;
    text-decoration: none;
}

footer a:hover {
    box-shadow: inset 0px -20px 0 #EFB37D;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}




/* Spinner */
#main-content {
    display: hidden;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.25rem;
    border-style: solid;
    border-radius: 50%;
    border-color: transparent transparent transparent currentColor;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 